@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:300");
@font-face {
  font-family: 'Sen';
  src: url("src/fonts/sen-bold-webfont.eot");
  src: local("☺"), url("src/fonts/sen-bold-webfont.woff") format("woff"), url("src/fonts/sen-bold-webfont.ttf") format("truetype"), url("src/fonts/sen-bold-webfont.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
