.cta {

  &--primary {
    font-family: $sen;
    text-transform: uppercase;
    font-size: 16px;
    padding: 12px 40px 12px 40px;
    outline: none;
    border: 0;
    background: $mega-pink;
    border-radius: 50px;
    transition: $transition-main;
    white-space: nowrap;

    &:hover {
      background: $dark;
    }

    &.darken {
      border: 3px solid $mega-pink;

      &:hover {
        border: 3px solid white;
        box-sizing: border-box;
      }
    }
  }

  &--mega {
    margin-top: 70px;
    margin-bottom: 40px;
    font-family: $sen;
    font-size: 16px;
    padding: 12px 40px 12px 40px;
    outline: none;
    border: 0;
    background: $irish-green;
    border-radius: 150px;
    transition: $transition-main;
    white-space: nowrap;
    color: white;
    width: 100%;
    height: 200px;
    position: relative;

    img {
      position: absolute;
      left: 0px;
      top: 30px;
      max-width: 90%;
      transform: scale(0.3);

      @media (min-width: 510px) {
        transform: scale(0.5);
      }
      @media (min-width: 768px) {
        transform: scale(0.8);
        left: 60px;
      }
      @media (min-width: 992px) {
      }
      @media (min-width: 1200px) {
      }
    }

    @media (min-width: 510px) {
      font-size: 26px;
    }
    @media (min-width: 768px) {
      font-size: 34px;
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }


  }
}
