.footer {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: $light;
  margin-top: -4px;

  h4 {
    color: $dark;
    display: block;
    position: relative;
    margin-bottom: 50px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -20px;
      background: $irish-green;
      height: 5px;
      width: 40px;
    }
  }

  ul {
    li {
      a {
        color: $dark;
        line-height: 35px;
        font-family: $poppins;
        transition: .3s;
        position: relative;
        overflow: hidden;
      }
    }
  }

  &--contact {
    background: $light;
    margin-top: 70px;
    margin-bottom: 70px;
    position: relative;
    overflow: hidden;

    ul {
      padding-inline-start: 0px;
      margin-bottom: 0px;

      li {
        list-style: none;

        a {
          &:after {
            content: "";
            width: 100%;
            height: 3px;
            background: $irish-green;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transition: $transition-main;
            transform-origin: left;
          }
          &:hover {

            &:after {
              content: "";
              width: 100%;
              height: 3px;
              background: $irish-green;
              position: absolute;
              bottom: 0;
              left: 0;
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
      }
    }
  }

  &--copyright {
    width: 100%;
    background: $irish-green;
    color: $light;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: block;
    justify-content: space-between;
    font-size: 14px;
    font-family: $poppins;
    transition: .3s;
    align-items: center;

    @media (min-width: 510px) {
    display: flex;
    }
    @media (min-width: 862px) {
    }
    @media (min-width: 992px) {
    }
    @media (min-width: 1200px) {
    }

    ul {
      padding-inline-start: 0px;
      margin-bottom: 0px;

      li {
        list-style: none;
        display: inline-block;
        margin-left: 10px;
      }
    }

    &__details {
      height: 48px;

      @media (min-width: 510px) {
          height: 18px;
      }
    }
  }

  &--links__fb {
    width: 100%;
    background: $dark;
    position: relative;
    overflow: hidden;
    align-items: center;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    transition: $transition-main;

    &.open {
      height: 70px;
    }

    ul {
      padding-inline-start: 0px;
      margin-bottom: 0px;

      li {
        list-style: none;
        display: inline-block;

        a {
          color: $light;
          text-transform: uppercase;
          font-size: 12px;
          background: $mega-pink;
          border: 3px solid $mega-pink;
              padding: 5px 5px 3px 7px;
          margin-left: 10px;
          border-radius: 25px;

          @media (min-width: 510px) {
            padding: 7px 17px 7px 17px;
            font-size: 13px;
          }

          &:hover {
            background: $dark;
            border: 3px solid white;
          }
        }
      }
    }
  }
}
.fb-link--active {

  &:after {
    content: "";
    background: $dark;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    bottom: -51px;
    left: calc(50% - 10px);
    transform: rotate(45deg);
  }
}
