$directory-font:  "../../src/fonts" !default;
$directory-image: "../../src/img" !default;

$light:         #ffffff !default;
$dark:          #08215C !default;
$lime-green:    #B4D784;
$irish-green:   #9FC46C;
$pear-green:    #92AF6C;
$blush-pink:    #FDF9F9;
$cotton-pink:   #F7BBE1;
$mega-pink:     #ED5EB9;

$line-height: 1.3 !default;
$line-height-sm: 1.5 !default;
$line-height-lg: 1.7 !default;

$transition-main: cubic-bezier(.78,.15,.99,.36) .1s;

$poppins: 'Poppins', Helvetica, Arial, sans-serif;
$sen: 'Sen', Helvetica, Arial, sans-serif;
